<!DOCTYPE html>
<html lang="de">
<body>
<p>Achtung!</p>
<p>Die Druckwarteschlange des PDF Druckers hat das konfigurierte limit von {{ limit }} überschritten.
    <a href="https://pdf.abh.whka.de/printerqueue">Hier</a> kann man die Druckwarteschlange leeren. Das Logfile
    des servers ist angehängt.</p>
<p>Hier noch einige informationen: </p>
<table>
    <tr>
        <th>Druckaufträge:</th>
        <td>{{ numjobs }}</td>
    </tr>
    <tr>
        <th>Kummulative Seitenanzahl:</th>
        <td>{{ numpages }}</td>
    </tr>
    <tr>
        <th>Läuft der Printerthread?</th>
        <td>{{ running }}</td>
    </tr>
</table>
</body>
</html>